c

always assume the existing code is correct unless you have a good reason to believe otherwise or you have been explicitly told otherwise
never modify significant portions of code without asking

golang imports:
always use gitlab.com/tozd/go/errors for golang errors
always use errors.Errorf to wrap golangerrors, never use errors.Wrap
always assume that broken imports are because the reference need to be adjusted, not because the thing being referenced doesn't exist
never directly modify go.mod or go.sum files, always use go mod tidy and go mod init to update them (or other commands that are appropriate)

golang testing:
always use testify/assert for assertions, testify/require for checking errors and testify/mock for creating mocks
code and functions should be written in a way that is delibrtaly easy to test
unit tests should be written in a way that is easy to understand and easy to write, yet overall increadibly exhaustive primarily by breadth of simple focused tests
assume one hat at a times (testing, writing code, refactoring) and make sure to check lints and tests before moving between hats
be extremely careful when modifying \_test.go files and regular go files in the same composer run

golang mocks:
always use interfaces and then add them to .mockery.yaml which will generate the mocks in ./gen/mockery by calling "task generate" in the root of the project
always use .EXPECT() to set up expectations for mocks

golang logging:
always use zerolog for logging
pass context.Context to zerolog.Ctx(ctx) to get a logger with context
all functions that log should have a context.Context as the first argument
context should be created as early as possible in the program and passed around to all functions that need it
individual packages should not define their own logging logic (unless required, like a server needing to control standard out), instead they should use the logger passed to them

golang debugging:
run linting checks and tests before you make changes to get a better sense of what errors you might be introducing
always assume errors you introduce are a result of code you wrote, if you think otherwise, ask to make sure you can make changes elsewhere.
utilize "github.com/k0kubun/pp/v3" pp.Printf to print out the structure of variables for debugging purposes
always run specific tests to isolate the problem, use -v sparingly - you should still see logs for ones that fail
