{{- /*gotype: github.com/walteh/go-tmpl-types-vscode/examples/types.Person */ -}}

Name: {{.Name}}
Age: {{.Age}}
Address:
  Street: {{.Address.Streetsz}}
  City: {{.Address.City}}

{{if .HasJob}} 
Job: {{.GetJob | upper}}
JobZ: {{prindtf "%s" .GetJob | uppder}}
JobZ: {{printf "hi" | upper | printf "%s" | upperg}}

{{end}}

