{{- /*gotype: github.com/walteh/go-tmpl-types-vscode/examples/types.Person */ -}}
{{- define "header" -}}
# Person Information
{{- end -}}

{{template "header"}}

Name: {{.Names}}
Age: {{.Age}}
Address:
  Street: {{.Address.Streetx}}
  City: {{.Address.City}}

{{if .HasJob}}
Job: {{.GetJobs | upper}}
JobZ: {{printf "%s" .GetJob | upper}}
JobZ: {{printf "hi" | upper | printf "%s" | upper}}

{{end}} 